<!-- -*- mode: XML -*- -->

<launch>

  <arg name="rviz" default="true" />

  <node pkg="lio" type="lio_processor_node" name="lio_processor" output="log">
    <param name="config_file" type="string" value="$(find lio)/config/maplab.yaml" />
  	<param name="sensor_type" type="int" value="640" />
    <remap from="/velodyne_points" to="/os1_node/points" />
  </node>
  <node pkg="lio" type="lio_odometry_node" name="lio_odometry" output="screen">
    <param name="config_file" type="string" value="$(find lio)/config/maplab_baseline.yaml" />
    <param name="no_deskew" type="bool" value="true" />
  </node>
  <node pkg="lio" type="lio_mapping_node" name="lio_mapping" output="screen" />

  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find lio)/rviz_cfg/lio_baseline.rviz" />
  </group>

</launch>